/* 컴파일되는
	* 여러 줄
	* 주석 */
// variable
$frontColor: #00cdff;
$backColor: #7d14ff;
$black: #000000;
$white: #ffffff;
$bgColor: #0d1c2f;
$bgColor02: #6414ff;
$bgColor03: #171718;
$bgColor04: #0e1c30;
$bgColor05: #5e45d8;
$bgColor06: #1a1a1a;
$lightGray: #575757;
$wrongColor: #ff404e;
$point: #ff404e;
$darkGray: #c9c9c9;
$mainColor: #3617ce;
$oneColor: #8674e2;


//mixin
@mixin NotoSans () {
    font-family: 'Noto Sans KR', sans-serif;
}

@mixin colorGradation() {
	color: $white;
	font-family: 'Noto Sans KR black', sans-serif;
}
@mixin borderGradient() {
	background-color: rgba(54, 23, 206, 0.24);
	border: 1px solid $mainColor;
}
@mixin font12() {
	font-size: 12px;
	letter-spacing: -0.24px;
	line-height: 1.4;
	font-family: 'Noto Sans KR bold';
}
@mixin font14() {
	font-size: 14px;
	letter-spacing: -0.28px;
	line-height: 1.4;
	font-family: 'Noto Sans KR bold';
}
@mixin font16Gradation() {
	@include colorGradation();
	font-size: 16px;
	line-height: 25px;
	letter-spacing: -0.32px;
}
@mixin font16() {
	font-size: 16px;
	line-height: 25px;
	letter-spacing: -0.32px;
	font-family: 'Noto Sans KR bold';
}
@mixin font20() {
	font-size: 20px;
	line-height: 1.6;
	letter-spacing: -0.4px;
	font-family: 'Noto Sans KR bold';
}
@mixin font24Gradation() {
	@include colorGradation();
	font-size: 24px;
	line-height: 1.6;
	letter-spacing: -0.48px;
}
@mixin font24() {
	font-size: 24px;
	line-height: 1.6;
	letter-spacing: -0.48px;
	font-family: 'Noto Sans KR black';
}
@mixin font28() {
	font-size: 28px;
	line-height: 1.6;
	letter-spacing: -0.56px;
	font-family: 'Noto Sans KR bold';
}
@mixin font40() {
	@include colorGradation();
	font-size: 40px;
	line-height: 1.2;
	letter-spacing: -0.8px;
}
@mixin font44() {
	@include colorGradation();
	font-size: 44px;
	line-height: 1.1;
	letter-spacing: -0.88px;
}
@mixin font80() {
	@include colorGradation();
	font-size: 80px;
	line-height: 1.3;
	letter-spacing: -1.6px;
}
@mixin moreArrow() {
	width: 10px;
	height: 10px;
	border-top: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	transform: rotate(45deg);
}

@mixin BreakWord {
    word-break: break-all;
    word-wrap: break-word;
}

@mixin Hide_txt {
    font: 0/0 a;
}



#webgl-universe {
    background: radial-gradient(circle farthest-corner at center top, #000, #000);
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
	z-index: -3
}
#wrap::before {
    display: none;
}
#webgl-planet {
    width: 100% !important;
    background-color: transparent;
}

#content {
    position: relative;
}


header nav > div {
    background: none;
}
.drawer-cont {

    background: url('../images/base-overlay.png') center center no-repeat;
    background-size: cover;
    opacity: 0;
    //pointer-events: none;
    transition: opacity 0.1s;
    &.bg {
        opacity: 1;
        //pointer-events: auto;
    }
}
.bg-overlay {
    background: url('../images/dumy-overlay.png') center center no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    transform: scale(20);
    transform-origin: 50% 48%;
    pointer-events: none;
    transition: transform 0.7s;
    z-index: -2;
    &.active {
        transform: scale(1);
    }
    &.hide {
        opacity: 0;
    }
}
.intro-overlay {
    background: url('../images/dumy-overlay2.png') center center no-repeat #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    transform: scale(1);
    transform-origin: 50% 32%;
    transition: transform 2.5s, background-color 2.3s;
    z-index: 111;

    .intro-video {
        position: absolute;
        transform: translate3d(-50%, -50%, 0);
        top: 50%;
        left: 50%;
        //min-width: 100%;
        //min-height: 100%;
        max-width: 100%;
        //height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        overflow: hidden;
        > div {
            width: 700px;
            height: 380px;
        }
    }

    &.active {
        background-color: transparent;
        transform: scale(20);
    }
}

#content{
    &.hide {
        opacity: 0;
    } 
}

/* 파트너스 투어 */
.tour {
    padding-bottom: 52px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        background: url('../images/tour-cont-bg.png') no-repeat center;
        background-size: cover;
        z-index: 0;
    }
    .btn-back {
        width: 305px;
        height: 56px;
        display: inline-flex;
        @include font20;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 30px;
        position: relative;
        color: #000;
    }
    .tourTop {
        margin-bottom: 30px;
        text-align: center;
        .subTitle {
            dt {
                line-height: 1.6;
            }
            dd {
                display: inline-block;
                line-height: 1.2;
                position: relative;
                &:after {
                    content: "";
                    width: 28px;
                    height: 36px;
                    position: absolute;
                    top: -5px;
                    right: 0px;
                    background: url('../images/stars_icon.png') no-repeat 0 0;
                    background-size: 100%;
                }
            }
        }
        .ribbon {
            background: url('../images/tour-cont-ribbon.png') center center no-repeat;
            background-size: 436px;
            width: 436px;
            height: 90px;
            margin: 29px auto 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 15px;
            box-sizing: border-box;
            span {
                display: block;
                @include font24;
            }
        }
        .tourTop-info {
            margin-top: 50px;
            P {
                @include font20();
                text-align: center;
                + p {
                    margin-top: 30px;
                }
            }
        }
        .btn-back {
            margin-top: 37px;
        }
    }

    .tourCont {
        padding: 170px 0 0;
        text-align: center;
        .tit {
            position: relative;
            @include font40;
            line-height: 1.5;
            text-align: center;
            color: #ff404e;
            &:before {
                content: "";
                width: 100px;
                height: 76.8px;
                position: absolute;
                top: -95px;
                left:50%;
                margin-left: -50px;
                background: url('../images/tour-cont-universe.png') no-repeat 0 0;
                background-size: 100px;
            }
        }
        .btn-back {
            margin-top: 60px;
        }
    }
    .tourCont-list {
        width: 712px;
        margin: 0 auto;
        > li {
            margin-top: 20px;
        }
        .tourCont-in {
            position: relative;
            border: 1px solid #3617ce;
            border-radius: 30px;
            background-color: rgba(54, 23, 206, 0.24);
            padding: 25px 5px;
            > strong {
                display: block;
                text-align: center;
                @include font28;
            }
            .cover {
                width: 153px;
                margin: 40px auto 0;
                img {
                    width: 100%;
                }
            }
            .infos {
                margin-top: 40px;
                p {
                    text-align: center;
                    @include font20;
                    color: #7f7d8f;
                    + p{
                        margin-top:40px;
                    }
                }
            }
        }
    }
}


body.overlay-hidden {
    overflow: hidden;
}
.layer-rocket {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    // transition: transform 1s;
    // transform: translateY(120%);
    opacity: 0;
    display: none;
    //transform: translateY(53%);
	&::after {
		content: "";
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #000;
		opacity: 0.7;
		z-index: -1;
	}
		
    .layer-top {
        display: flex;
        justify-content: center;
        background: url('../images/bg-cloud.png') no-repeat center 15vw;
        background-size: cover;
        transition: all 1s;
        margin-bottom: -5px;
        height: 28vw;
		z-index: 100;
        &.no-cloud {
            background-position: center -300%;
        }
    }

    .layer-cont {
		width: 510px;
		max-height: 100vh;
        //height: auto;
        background-color: #fff;
        overflow-x: hidden;
        overflow-y: auto;
        transition: all 0.5s;
		opacity: 1;
        border-radius: 60px;
        transition: transform 1s;
        transform: translateY(120%);
		&.w600 {
            width: 600px;
        }
		&::-webkit-scrollbar {
			width:4px; 
			height:4px;
		}
		&::-webkit-scrollbar-thumb {
			transition: all .5s;
		}
        .layer-cont-in {
            color: #000;
            //padding: 20px;
            padding-bottom: 61px;
            opacity: 1;
        }
        &.active {
            transform: translateY(0);

            .layer-cont-in {
            }
        }
    }

    .btn-rocket-open {
        position: absolute;
        top: 0vw;
        left: 50%;
        margin-left: -6vw;
        background-color: transparent;
        border: 0;
        width: 12vw;
        display: none;
        img {
            width: 100%;
        }
        &.open {
            animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        }
        &.close {
            animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
        }
    }

    .btn-rocket-close {
        position: absolute;
        top: 100px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        left: 50%;
        margin-left: -20px;
        background: url('../images/rocket-close.png') no-repeat center;
        background-size: 70%;
        background-color: #fff;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: 0;
        font: 0/0 a;
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 100%;
        filter: blur(40px);
        opacity: 0;
        z-index: 1;
        &.open {
            animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
        }
        &.close {
            opacity: 0;
            animation: slide-out-blurred-bottom 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
        }
    }

    .benefitView {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 8%;
        .benefitView-top {
            border-bottom: 2px solid $darkGray;
            height: 168px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            dt {
                text-align: center;
                img {
                    width: 70%;
                }
            }
            dd {
                position: absolute;
                bottom: 8px;
                right: 0;
                font-size: 12px;
                letter-spacing: -0.24px;
                line-height: 1.4;
                font-family: 'Noto Sans KR bold';
                color: #575757;
            }
        }
        .benefitView-cont {
            margin-top: 20px;
            > dl {
                text-align: left;
                font-family: 'Noto Sans KR black';
                line-height: 1.6;
                dt {
                    background: linear-gradient(to right, #00cdff, #7d14ff);
                    color: transparent;
                    -webkit-background-clip: text;
                    font-family: 'Noto Sans KR black', sans-serif;
                    font-size: 24px;
					letter-spacing: -0.48px;
                }
                dd {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: -0.32px;
                    font-family: 'Noto Sans KR bold';
                    color: #000000;
                    p {
                        margin-top: 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
            .arrowBtn {
                width: 249px;
                margin-left: 0;
                text-align: center;
            }
        }
        > div {
            text-align: center;
            dl {
                dt {
                    text-align: center;
                }
                dd {
                    text-align: center;
                }
            }
        }
    
    }

    .imageFileView {
        padding: 40px 8%;
        > div {
            display: none;
            dl {
                margin-bottom: 30px;
                dt {
                    background: linear-gradient(to right, #00cdff, #7d14ff);
                    color: transparent;
                    -webkit-background-clip: text;
                    font-family: 'Noto Sans KR black', sans-serif;
                    font-size: 14px;
                    line-height: 1.4;
                    letter-spacing: -0.28px;
                }
                dd {
                    margin-top: 10px;
                    font-size: 24px;
                    line-height: 1.6;
                    letter-spacing: -0.48px;
                    color: #000000;
                    font-family: 'Noto Sans KR black';
                }
            }
            div {
                text-align: center;
                position: relative; 
                img {
                    width: 200px;
                    height: auto;
                }
            }
            &.step02 {
                .btnWrap {
                    display: flex;
                    margin-top: 31px;
                    .goBtn {
                        background-color: #575757;
                        text-align: center;
                        &:first-child {
                            background-color: #6414ff;
                            width: 40%;
                            margin-right: 4px;
                        }
                    }
                }
            }
            &.step03 {
                padding-top: 60%;
                padding-bottom: 100px;
                background: url('../images/btn-check.png') no-repeat 0 0;
                background-position: center 20%;
                p {
                    background: linear-gradient(to right, #00cdff, #7d14ff);
                    color: transparent;
                    -webkit-background-clip: text;
                    font-family: 'Noto Sans KR black', sans-serif;
                    font-size: 40px;
                    line-height: 1.2;
                    letter-spacing: -0.8px;
                    text-align: center;
                }
            }
        }
        .on {
            display: block;
        }

    }

    .luckyView {
        position: relative;
        width: 100%;
        height: 100%;
        .luckyView-top {
            background: url('../images/luckyView-particle.png') no-repeat center 5vw;
            background-size: contain;
            margin-top: 47px;
            .sub-tit {
                @include font20;
                color: #000;
                text-align: center;
            }
            h4 {
                @include font60;
                text-align: center;
                color: #3617ce;
                margin-top: 10px;
            }
            .cover {
                padding: 0 8%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 80%;
                    max-width:400px;
                }
            }
            ul {
                margin-top:28.6px;
                li {
                    @include font20;
                    text-align: center;
                    + li {
                        margin-top:10px;
                    }
                }
            }
        }

        .luckyView-list {
            padding: 0 8%;
            .list-tit {
                background: url('../images/luckyView-ribbon.png') center center no-repeat;
                background-size: 327px;
                width: 327px;
                height: 67.5px;
                margin: 50.5px auto 13px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                span {
                    display: block;
                    @include font24;
                    color: #fff;
                    position: relative;
                    top: -5px;
                }
            }
            .list-conts {
                > ul {
                    flex-wrap: wrap;
                    display: flex;
                    width: 440px;
                    margin: 0 auto;
                    li {
                        width: 210px;
                        box-sizing: border-box;
                        background: url('../images/luckyView-bg-stars.png') no-repeat center center;
                        background-size: cover;
                        border-radius: 30px;
                        overflow: hidden;
                        margin-top: 20px;
                        &:nth-child(odd) {
                            margin-right: 10px;
                        }
                        &:nth-child(even) {
                            margin-left: 10px;
                        }
                    }
                }
                .cont-in {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    padding: 30px 0;
                    .cover {
                        padding: 0 30px;
                        img {
                            width: 100%;
                        }
                    }
                    .infos {
                        padding: 0 5px;
                        margin-top: 30px;
                        text-align: center;
                        @include font20;
                        @include BreakWord;
                        color:#fff;
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    &.active {
        //transform: translateY(0);
        opacity: 1;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        z-index: 55;
    }
    &.low-zIndex {
        z-index: 45;
    }
}

_:-ms-fullscreen, :root .layer-rocket .layer-cont { max-height: 700px; }


body.fixed {
    overflow: hidden;
    position: fixed;
}
.modal-layer {
    position: fixed;
    display: none;
    z-index: 65;
    width: 100%;
    left: 0;
    max-width: 480px;
    .modal-inner {
        overflow: hidden;
        border-radius: 10px;
        background-color: #f4f4f4;
        margin: 15px;
        position: relative;
    }
    .modal-cont {
        position: relative;
        box-sizing: border-box;
    }
}

.modal-dimmed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    font: 0/0 a;
    opacity: 0.5;
    z-index: 60;
    display: none;
}

/*티켓레이어 수정*/
#content.ticketInfo .ticketAniWrap {
    display: block;
    background-color: transparent;
    overflow:hidden;
    transform: translateY(120%);
    transition: transform 1s;
    &.on {
        transform: translateY(0);
    }
    .ticketAni {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100% - 70px);
        .ticketing.add-svg {
            padding-bottom: 0;
            background: none;
            .svg-W {
                margin: 0 auto;
                max-width: 500px;
                height: 500px;
                overflow: hidden;
            }
        }
        .winning.add-svg {
            height: 100%;
            .svg-W {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                height: 100%;
                transform: translate(-50%, -50%);
                overflow:hidden;
                > div {
                    transform: scale(1.6);
                    transform-origin: center;
                }
            }   
            .svg-cont {
                position: relative;
            }
        }

        &.on {
            animation:none;
            .ticketing.add-svg.on {
                animation: none;
                background-color: #fff;
                border-radius: 40px 40px 0 0;
            }
            .issuanceTicket.on {
                animation-delay: .3s;
                background-color: #fff;
                border-radius: 40px 40px 0 0;
                padding-bottom: 40px;
            }
            .winning.on {
                &::before {display: none;}
                background-color: #fff;
                border-radius: 40px 40px 0 0;
                padding-bottom: 40px;
                //overflow: hidden;
            }
        }
    }
    .closeBtn {
        top: 23px;
    }
    
}

/*add svg*/
.ticket .ticketParticipate ul li.step01 {
    .add-svg {
        background-image: none;
        padding: 0;
        .svg-W {
            padding: 0;
            width: 116%;
            //transform: scale(1.3);
        }
    }
}

.ticket .ticketParticipate ul li.step03 {
    .add-svg {
        background-image: none;
        padding: 0;
        .svg-W {
            margin: 70px 0;
            padding: 0;
            width: 116%;
            margin: 5% 0 5% -8%;
        }
    }
}

.delivery .deliveryStep > ul > li > dl.step01 {
    &.add-svg {
        background-image: none;
        padding: 0;
        .svg-W {
            padding: 0;
            width: 116%;
            margin: -15% 0 -15% -8%;
        }
    }
}

.delivery .deliveryStep > ul > li > dl.step03 {
    &.add-svg {
        background-image: none;
        padding: 0;
        .svg-W {
            padding: 0;
            width: 116%;
            margin: -20% 0 -20% -8%;
        }
    }
}

.delivery .deliveryStep > ul > li > dl.step04 {
    &.add-svg {
        background-image: none;
        padding: 0;
        .svg-W {
            padding: 0;
            width: 116%;
            margin: -20% 0 -30% -8%;
        }
    }
}

.mainTab .tabContent ul .leftTab ul li:first-child,
.mad .madPass > ul li:first-child,
.partners .listPartners > ul li:first-child {
    .add-svg {
        .svg-W {
            position: absolute;
            top: 8px;
            right: 40px;
            width: 230px;
        }
        &::after {
            display: none;
        }
    }
} 

.mainTab .tabContent ul .leftTab ul li:last-child,
.mad .madPass > ul li:last-child,
.partners .listPartners > ul li:last-child {
    .add-svg {
        .svg-W {
            position: absolute;
            top: -30px;
            right: 30px;
            width: 240px;
        }
        &::after {
            display: none;
        }
    }
} 


.ticket .ticketRewards ul li:first-child {
    &.add-svg {
        overflow:hidden;
        &::before {
            display: none;
        }
        .svg-W {
            position: absolute;
            top: -110px;
            right: -50px;
            width: 300px;
        }
    }
}

.ticket .ticketRewards ul li:last-child {
    &.add-svg {
        overflow:hidden;
        &::before {
            display: none;
        }
        .svg-W {
            position: absolute;
            top: -150px;
            right: -75px;
            width: 350px;
        }
    }
}

@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform-origin: 50% 100%;
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-out-blurred-bottom {
    0% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1000px) scaleY(2) scaleX(0.2);
        transform-origin: 50% 100%;
        filter: blur(40px);
        opacity: 0;
    }
}



/*aos*/
[data-aos][data-aos][data-aos-duration='50'],
body[data-aos-duration='50'] [data-aos] {
    transition-duration: 50ms;
}
[data-aos][data-aos][data-aos-delay='50'],
body[data-aos-delay='50'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='50'].aos-animate,
body[data-aos-delay='50'] [data-aos].aos-animate {
    transition-delay: 50ms;
}
[data-aos][data-aos][data-aos-duration='100'],
body[data-aos-duration='100'] [data-aos] {
    transition-duration: 0.1s;
}
[data-aos][data-aos][data-aos-delay='100'],
body[data-aos-delay='100'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='100'].aos-animate,
body[data-aos-delay='100'] [data-aos].aos-animate {
    transition-delay: 0.1s;
}
[data-aos][data-aos][data-aos-duration='150'],
body[data-aos-duration='150'] [data-aos] {
    transition-duration: 0.15s;
}
[data-aos][data-aos][data-aos-delay='150'],
body[data-aos-delay='150'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='150'].aos-animate,
body[data-aos-delay='150'] [data-aos].aos-animate {
    transition-delay: 0.15s;
}
[data-aos][data-aos][data-aos-duration='200'],
body[data-aos-duration='200'] [data-aos] {
    transition-duration: 0.2s;
}
[data-aos][data-aos][data-aos-delay='200'],
body[data-aos-delay='200'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='200'].aos-animate,
body[data-aos-delay='200'] [data-aos].aos-animate {
    transition-delay: 0.2s;
}
[data-aos][data-aos][data-aos-duration='250'],
body[data-aos-duration='250'] [data-aos] {
    transition-duration: 0.25s;
}
[data-aos][data-aos][data-aos-delay='250'],
body[data-aos-delay='250'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='250'].aos-animate,
body[data-aos-delay='250'] [data-aos].aos-animate {
    transition-delay: 0.25s;
}
[data-aos][data-aos][data-aos-duration='300'],
body[data-aos-duration='300'] [data-aos] {
    transition-duration: 0.3s;
}
[data-aos][data-aos][data-aos-delay='300'],
body[data-aos-delay='300'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='300'].aos-animate,
body[data-aos-delay='300'] [data-aos].aos-animate {
    transition-delay: 0.3s;
}
[data-aos][data-aos][data-aos-duration='350'],
body[data-aos-duration='350'] [data-aos] {
    transition-duration: 0.35s;
}
[data-aos][data-aos][data-aos-delay='350'],
body[data-aos-delay='350'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='350'].aos-animate,
body[data-aos-delay='350'] [data-aos].aos-animate {
    transition-delay: 0.35s;
}
[data-aos][data-aos][data-aos-duration='400'],
body[data-aos-duration='400'] [data-aos] {
    transition-duration: 0.4s;
}
[data-aos][data-aos][data-aos-delay='400'],
body[data-aos-delay='400'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='400'].aos-animate,
body[data-aos-delay='400'] [data-aos].aos-animate {
    transition-delay: 0.4s;
}
[data-aos][data-aos][data-aos-duration='450'],
body[data-aos-duration='450'] [data-aos] {
    transition-duration: 0.45s;
}
[data-aos][data-aos][data-aos-delay='450'],
body[data-aos-delay='450'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='450'].aos-animate,
body[data-aos-delay='450'] [data-aos].aos-animate {
    transition-delay: 0.45s;
}
[data-aos][data-aos][data-aos-duration='500'],
body[data-aos-duration='500'] [data-aos] {
    transition-duration: 0.5s;
}
[data-aos][data-aos][data-aos-delay='500'],
body[data-aos-delay='500'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='500'].aos-animate,
body[data-aos-delay='500'] [data-aos].aos-animate {
    transition-delay: 0.5s;
}
[data-aos][data-aos][data-aos-duration='550'],
body[data-aos-duration='550'] [data-aos] {
    transition-duration: 0.55s;
}
[data-aos][data-aos][data-aos-delay='550'],
body[data-aos-delay='550'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='550'].aos-animate,
body[data-aos-delay='550'] [data-aos].aos-animate {
    transition-delay: 0.55s;
}
[data-aos][data-aos][data-aos-duration='600'],
body[data-aos-duration='600'] [data-aos] {
    transition-duration: 0.6s;
}
[data-aos][data-aos][data-aos-delay='600'],
body[data-aos-delay='600'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='600'].aos-animate,
body[data-aos-delay='600'] [data-aos].aos-animate {
    transition-delay: 0.6s;
}
[data-aos][data-aos][data-aos-duration='650'],
body[data-aos-duration='650'] [data-aos] {
    transition-duration: 0.65s;
}
[data-aos][data-aos][data-aos-delay='650'],
body[data-aos-delay='650'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='650'].aos-animate,
body[data-aos-delay='650'] [data-aos].aos-animate {
    transition-delay: 0.65s;
}
[data-aos][data-aos][data-aos-duration='700'],
body[data-aos-duration='700'] [data-aos] {
    transition-duration: 0.7s;
}
[data-aos][data-aos][data-aos-delay='700'],
body[data-aos-delay='700'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='700'].aos-animate,
body[data-aos-delay='700'] [data-aos].aos-animate {
    transition-delay: 0.7s;
}
[data-aos][data-aos][data-aos-duration='750'],
body[data-aos-duration='750'] [data-aos] {
    transition-duration: 0.75s;
}
[data-aos][data-aos][data-aos-delay='750'],
body[data-aos-delay='750'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='750'].aos-animate,
body[data-aos-delay='750'] [data-aos].aos-animate {
    transition-delay: 0.75s;
}
[data-aos][data-aos][data-aos-duration='800'],
body[data-aos-duration='800'] [data-aos] {
    transition-duration: 0.8s;
}
[data-aos][data-aos][data-aos-delay='800'],
body[data-aos-delay='800'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='800'].aos-animate,
body[data-aos-delay='800'] [data-aos].aos-animate {
    transition-delay: 0.8s;
}
[data-aos][data-aos][data-aos-duration='850'],
body[data-aos-duration='850'] [data-aos] {
    transition-duration: 0.85s;
}
[data-aos][data-aos][data-aos-delay='850'],
body[data-aos-delay='850'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='850'].aos-animate,
body[data-aos-delay='850'] [data-aos].aos-animate {
    transition-delay: 0.85s;
}
[data-aos][data-aos][data-aos-duration='900'],
body[data-aos-duration='900'] [data-aos] {
    transition-duration: 0.9s;
}
[data-aos][data-aos][data-aos-delay='900'],
body[data-aos-delay='900'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='900'].aos-animate,
body[data-aos-delay='900'] [data-aos].aos-animate {
    transition-delay: 0.9s;
}
[data-aos][data-aos][data-aos-duration='950'],
body[data-aos-duration='950'] [data-aos] {
    transition-duration: 0.95s;
}
[data-aos][data-aos][data-aos-delay='950'],
body[data-aos-delay='950'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='950'].aos-animate,
body[data-aos-delay='950'] [data-aos].aos-animate {
    transition-delay: 0.95s;
}
[data-aos][data-aos][data-aos-duration='1000'],
body[data-aos-duration='1000'] [data-aos] {
    transition-duration: 1s;
}
[data-aos][data-aos][data-aos-delay='1000'],
body[data-aos-delay='1000'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1000'].aos-animate,
body[data-aos-delay='1000'] [data-aos].aos-animate {
    transition-delay: 1s;
}
[data-aos][data-aos][data-aos-duration='1050'],
body[data-aos-duration='1050'] [data-aos] {
    transition-duration: 1.05s;
}
[data-aos][data-aos][data-aos-delay='1050'],
body[data-aos-delay='1050'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1050'].aos-animate,
body[data-aos-delay='1050'] [data-aos].aos-animate {
    transition-delay: 1.05s;
}
[data-aos][data-aos][data-aos-duration='1100'],
body[data-aos-duration='1100'] [data-aos] {
    transition-duration: 1.1s;
}
[data-aos][data-aos][data-aos-delay='1100'],
body[data-aos-delay='1100'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1100'].aos-animate,
body[data-aos-delay='1100'] [data-aos].aos-animate {
    transition-delay: 1.1s;
}
[data-aos][data-aos][data-aos-duration='1150'],
body[data-aos-duration='1150'] [data-aos] {
    transition-duration: 1.15s;
}
[data-aos][data-aos][data-aos-delay='1150'],
body[data-aos-delay='1150'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1150'].aos-animate,
body[data-aos-delay='1150'] [data-aos].aos-animate {
    transition-delay: 1.15s;
}
[data-aos][data-aos][data-aos-duration='1200'],
body[data-aos-duration='1200'] [data-aos] {
    transition-duration: 1.2s;
}
[data-aos][data-aos][data-aos-delay='1200'],
body[data-aos-delay='1200'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1200'].aos-animate,
body[data-aos-delay='1200'] [data-aos].aos-animate {
    transition-delay: 1.2s;
}
[data-aos][data-aos][data-aos-duration='1250'],
body[data-aos-duration='1250'] [data-aos] {
    transition-duration: 1.25s;
}
[data-aos][data-aos][data-aos-delay='1250'],
body[data-aos-delay='1250'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1250'].aos-animate,
body[data-aos-delay='1250'] [data-aos].aos-animate {
    transition-delay: 1.25s;
}
[data-aos][data-aos][data-aos-duration='1300'],
body[data-aos-duration='1300'] [data-aos] {
    transition-duration: 1.3s;
}
[data-aos][data-aos][data-aos-delay='1300'],
body[data-aos-delay='1300'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1300'].aos-animate,
body[data-aos-delay='1300'] [data-aos].aos-animate {
    transition-delay: 1.3s;
}
[data-aos][data-aos][data-aos-duration='1350'],
body[data-aos-duration='1350'] [data-aos] {
    transition-duration: 1.35s;
}
[data-aos][data-aos][data-aos-delay='1350'],
body[data-aos-delay='1350'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1350'].aos-animate,
body[data-aos-delay='1350'] [data-aos].aos-animate {
    transition-delay: 1.35s;
}
[data-aos][data-aos][data-aos-duration='1400'],
body[data-aos-duration='1400'] [data-aos] {
    transition-duration: 1.4s;
}
[data-aos][data-aos][data-aos-delay='1400'],
body[data-aos-delay='1400'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1400'].aos-animate,
body[data-aos-delay='1400'] [data-aos].aos-animate {
    transition-delay: 1.4s;
}
[data-aos][data-aos][data-aos-duration='1450'],
body[data-aos-duration='1450'] [data-aos] {
    transition-duration: 1.45s;
}
[data-aos][data-aos][data-aos-delay='1450'],
body[data-aos-delay='1450'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1450'].aos-animate,
body[data-aos-delay='1450'] [data-aos].aos-animate {
    transition-delay: 1.45s;
}
[data-aos][data-aos][data-aos-duration='1500'],
body[data-aos-duration='1500'] [data-aos] {
    transition-duration: 1.5s;
}
[data-aos][data-aos][data-aos-delay='1500'],
body[data-aos-delay='1500'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1500'].aos-animate,
body[data-aos-delay='1500'] [data-aos].aos-animate {
    transition-delay: 1.5s;
}
[data-aos][data-aos][data-aos-duration='1550'],
body[data-aos-duration='1550'] [data-aos] {
    transition-duration: 1.55s;
}
[data-aos][data-aos][data-aos-delay='1550'],
body[data-aos-delay='1550'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1550'].aos-animate,
body[data-aos-delay='1550'] [data-aos].aos-animate {
    transition-delay: 1.55s;
}
[data-aos][data-aos][data-aos-duration='1600'],
body[data-aos-duration='1600'] [data-aos] {
    transition-duration: 1.6s;
}
[data-aos][data-aos][data-aos-delay='1600'],
body[data-aos-delay='1600'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1600'].aos-animate,
body[data-aos-delay='1600'] [data-aos].aos-animate {
    transition-delay: 1.6s;
}
[data-aos][data-aos][data-aos-duration='1650'],
body[data-aos-duration='1650'] [data-aos] {
    transition-duration: 1.65s;
}
[data-aos][data-aos][data-aos-delay='1650'],
body[data-aos-delay='1650'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1650'].aos-animate,
body[data-aos-delay='1650'] [data-aos].aos-animate {
    transition-delay: 1.65s;
}
[data-aos][data-aos][data-aos-duration='1700'],
body[data-aos-duration='1700'] [data-aos] {
    transition-duration: 1.7s;
}
[data-aos][data-aos][data-aos-delay='1700'],
body[data-aos-delay='1700'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1700'].aos-animate,
body[data-aos-delay='1700'] [data-aos].aos-animate {
    transition-delay: 1.7s;
}
[data-aos][data-aos][data-aos-duration='1750'],
body[data-aos-duration='1750'] [data-aos] {
    transition-duration: 1.75s;
}
[data-aos][data-aos][data-aos-delay='1750'],
body[data-aos-delay='1750'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1750'].aos-animate,
body[data-aos-delay='1750'] [data-aos].aos-animate {
    transition-delay: 1.75s;
}
[data-aos][data-aos][data-aos-duration='1800'],
body[data-aos-duration='1800'] [data-aos] {
    transition-duration: 1.8s;
}
[data-aos][data-aos][data-aos-delay='1800'],
body[data-aos-delay='1800'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1800'].aos-animate,
body[data-aos-delay='1800'] [data-aos].aos-animate {
    transition-delay: 1.8s;
}
[data-aos][data-aos][data-aos-duration='1850'],
body[data-aos-duration='1850'] [data-aos] {
    transition-duration: 1.85s;
}
[data-aos][data-aos][data-aos-delay='1850'],
body[data-aos-delay='1850'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1850'].aos-animate,
body[data-aos-delay='1850'] [data-aos].aos-animate {
    transition-delay: 1.85s;
}
[data-aos][data-aos][data-aos-duration='1900'],
body[data-aos-duration='1900'] [data-aos] {
    transition-duration: 1.9s;
}
[data-aos][data-aos][data-aos-delay='1900'],
body[data-aos-delay='1900'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1900'].aos-animate,
body[data-aos-delay='1900'] [data-aos].aos-animate {
    transition-delay: 1.9s;
}
[data-aos][data-aos][data-aos-duration='1950'],
body[data-aos-duration='1950'] [data-aos] {
    transition-duration: 1.95s;
}
[data-aos][data-aos][data-aos-delay='1950'],
body[data-aos-delay='1950'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='1950'].aos-animate,
body[data-aos-delay='1950'] [data-aos].aos-animate {
    transition-delay: 1.95s;
}
[data-aos][data-aos][data-aos-duration='2000'],
body[data-aos-duration='2000'] [data-aos] {
    transition-duration: 2s;
}
[data-aos][data-aos][data-aos-delay='2000'],
body[data-aos-delay='2000'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2000'].aos-animate,
body[data-aos-delay='2000'] [data-aos].aos-animate {
    transition-delay: 2s;
}
[data-aos][data-aos][data-aos-duration='2050'],
body[data-aos-duration='2050'] [data-aos] {
    transition-duration: 2.05s;
}
[data-aos][data-aos][data-aos-delay='2050'],
body[data-aos-delay='2050'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2050'].aos-animate,
body[data-aos-delay='2050'] [data-aos].aos-animate {
    transition-delay: 2.05s;
}
[data-aos][data-aos][data-aos-duration='2100'],
body[data-aos-duration='2100'] [data-aos] {
    transition-duration: 2.1s;
}
[data-aos][data-aos][data-aos-delay='2100'],
body[data-aos-delay='2100'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2100'].aos-animate,
body[data-aos-delay='2100'] [data-aos].aos-animate {
    transition-delay: 2.1s;
}
[data-aos][data-aos][data-aos-duration='2150'],
body[data-aos-duration='2150'] [data-aos] {
    transition-duration: 2.15s;
}
[data-aos][data-aos][data-aos-delay='2150'],
body[data-aos-delay='2150'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2150'].aos-animate,
body[data-aos-delay='2150'] [data-aos].aos-animate {
    transition-delay: 2.15s;
}
[data-aos][data-aos][data-aos-duration='2200'],
body[data-aos-duration='2200'] [data-aos] {
    transition-duration: 2.2s;
}
[data-aos][data-aos][data-aos-delay='2200'],
body[data-aos-delay='2200'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2200'].aos-animate,
body[data-aos-delay='2200'] [data-aos].aos-animate {
    transition-delay: 2.2s;
}
[data-aos][data-aos][data-aos-duration='2250'],
body[data-aos-duration='2250'] [data-aos] {
    transition-duration: 2.25s;
}
[data-aos][data-aos][data-aos-delay='2250'],
body[data-aos-delay='2250'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2250'].aos-animate,
body[data-aos-delay='2250'] [data-aos].aos-animate {
    transition-delay: 2.25s;
}
[data-aos][data-aos][data-aos-duration='2300'],
body[data-aos-duration='2300'] [data-aos] {
    transition-duration: 2.3s;
}
[data-aos][data-aos][data-aos-delay='2300'],
body[data-aos-delay='2300'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2300'].aos-animate,
body[data-aos-delay='2300'] [data-aos].aos-animate {
    transition-delay: 2.3s;
}
[data-aos][data-aos][data-aos-duration='2350'],
body[data-aos-duration='2350'] [data-aos] {
    transition-duration: 2.35s;
}
[data-aos][data-aos][data-aos-delay='2350'],
body[data-aos-delay='2350'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2350'].aos-animate,
body[data-aos-delay='2350'] [data-aos].aos-animate {
    transition-delay: 2.35s;
}
[data-aos][data-aos][data-aos-duration='2400'],
body[data-aos-duration='2400'] [data-aos] {
    transition-duration: 2.4s;
}
[data-aos][data-aos][data-aos-delay='2400'],
body[data-aos-delay='2400'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2400'].aos-animate,
body[data-aos-delay='2400'] [data-aos].aos-animate {
    transition-delay: 2.4s;
}
[data-aos][data-aos][data-aos-duration='2450'],
body[data-aos-duration='2450'] [data-aos] {
    transition-duration: 2.45s;
}
[data-aos][data-aos][data-aos-delay='2450'],
body[data-aos-delay='2450'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2450'].aos-animate,
body[data-aos-delay='2450'] [data-aos].aos-animate {
    transition-delay: 2.45s;
}
[data-aos][data-aos][data-aos-duration='2500'],
body[data-aos-duration='2500'] [data-aos] {
    transition-duration: 2.5s;
}
[data-aos][data-aos][data-aos-delay='2500'],
body[data-aos-delay='2500'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2500'].aos-animate,
body[data-aos-delay='2500'] [data-aos].aos-animate {
    transition-delay: 2.5s;
}
[data-aos][data-aos][data-aos-duration='2550'],
body[data-aos-duration='2550'] [data-aos] {
    transition-duration: 2.55s;
}
[data-aos][data-aos][data-aos-delay='2550'],
body[data-aos-delay='2550'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2550'].aos-animate,
body[data-aos-delay='2550'] [data-aos].aos-animate {
    transition-delay: 2.55s;
}
[data-aos][data-aos][data-aos-duration='2600'],
body[data-aos-duration='2600'] [data-aos] {
    transition-duration: 2.6s;
}
[data-aos][data-aos][data-aos-delay='2600'],
body[data-aos-delay='2600'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2600'].aos-animate,
body[data-aos-delay='2600'] [data-aos].aos-animate {
    transition-delay: 2.6s;
}
[data-aos][data-aos][data-aos-duration='2650'],
body[data-aos-duration='2650'] [data-aos] {
    transition-duration: 2.65s;
}
[data-aos][data-aos][data-aos-delay='2650'],
body[data-aos-delay='2650'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2650'].aos-animate,
body[data-aos-delay='2650'] [data-aos].aos-animate {
    transition-delay: 2.65s;
}
[data-aos][data-aos][data-aos-duration='2700'],
body[data-aos-duration='2700'] [data-aos] {
    transition-duration: 2.7s;
}
[data-aos][data-aos][data-aos-delay='2700'],
body[data-aos-delay='2700'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2700'].aos-animate,
body[data-aos-delay='2700'] [data-aos].aos-animate {
    transition-delay: 2.7s;
}
[data-aos][data-aos][data-aos-duration='2750'],
body[data-aos-duration='2750'] [data-aos] {
    transition-duration: 2.75s;
}
[data-aos][data-aos][data-aos-delay='2750'],
body[data-aos-delay='2750'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2750'].aos-animate,
body[data-aos-delay='2750'] [data-aos].aos-animate {
    transition-delay: 2.75s;
}
[data-aos][data-aos][data-aos-duration='2800'],
body[data-aos-duration='2800'] [data-aos] {
    transition-duration: 2.8s;
}
[data-aos][data-aos][data-aos-delay='2800'],
body[data-aos-delay='2800'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2800'].aos-animate,
body[data-aos-delay='2800'] [data-aos].aos-animate {
    transition-delay: 2.8s;
}
[data-aos][data-aos][data-aos-duration='2850'],
body[data-aos-duration='2850'] [data-aos] {
    transition-duration: 2.85s;
}
[data-aos][data-aos][data-aos-delay='2850'],
body[data-aos-delay='2850'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2850'].aos-animate,
body[data-aos-delay='2850'] [data-aos].aos-animate {
    transition-delay: 2.85s;
}
[data-aos][data-aos][data-aos-duration='2900'],
body[data-aos-duration='2900'] [data-aos] {
    transition-duration: 2.9s;
}
[data-aos][data-aos][data-aos-delay='2900'],
body[data-aos-delay='2900'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2900'].aos-animate,
body[data-aos-delay='2900'] [data-aos].aos-animate {
    transition-delay: 2.9s;
}
[data-aos][data-aos][data-aos-duration='2950'],
body[data-aos-duration='2950'] [data-aos] {
    transition-duration: 2.95s;
}
[data-aos][data-aos][data-aos-delay='2950'],
body[data-aos-delay='2950'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='2950'].aos-animate,
body[data-aos-delay='2950'] [data-aos].aos-animate {
    transition-delay: 2.95s;
}
[data-aos][data-aos][data-aos-duration='3000'],
body[data-aos-duration='3000'] [data-aos] {
    transition-duration: 3s;
}
[data-aos][data-aos][data-aos-delay='3000'],
body[data-aos-delay='3000'] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-delay='3000'].aos-animate,
body[data-aos-delay='3000'] [data-aos].aos-animate {
    transition-delay: 3s;
}
[data-aos][data-aos][data-aos-easing='linear'],
body[data-aos-easing='linear'] [data-aos] {
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
[data-aos][data-aos][data-aos-easing='ease'],
body[data-aos-easing='ease'] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-easing='ease-in'],
body[data-aos-easing='ease-in'] [data-aos] {
    transition-timing-function: ease-in;
}
[data-aos][data-aos][data-aos-easing='ease-out'],
body[data-aos-easing='ease-out'] [data-aos] {
    transition-timing-function: ease-out;
}
[data-aos][data-aos][data-aos-easing='ease-in-out'],
body[data-aos-easing='ease-in-out'] [data-aos] {
    transition-timing-function: ease-in-out;
}
[data-aos][data-aos][data-aos-easing='ease-in-back'],
body[data-aos-easing='ease-in-back'] [data-aos] {
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
[data-aos][data-aos][data-aos-easing='ease-out-back'],
body[data-aos-easing='ease-out-back'] [data-aos] {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
[data-aos][data-aos][data-aos-easing='ease-in-out-back'],
body[data-aos-easing='ease-in-out-back'] [data-aos] {
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
[data-aos][data-aos][data-aos-easing='ease-in-sine'],
body[data-aos-easing='ease-in-sine'] [data-aos] {
    transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}
[data-aos][data-aos][data-aos-easing='ease-out-sine'],
body[data-aos-easing='ease-out-sine'] [data-aos] {
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
[data-aos][data-aos][data-aos-easing='ease-in-out-sine'],
body[data-aos-easing='ease-in-out-sine'] [data-aos] {
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
[data-aos][data-aos][data-aos-easing='ease-in-quad'],
body[data-aos-easing='ease-in-quad'] [data-aos] {
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing='ease-out-quad'],
body[data-aos-easing='ease-out-quad'] [data-aos] {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing='ease-in-out-quad'],
body[data-aos-easing='ease-in-out-quad'] [data-aos] {
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-easing='ease-in-cubic'],
body[data-aos-easing='ease-in-cubic'] [data-aos] {
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing='ease-out-cubic'],
body[data-aos-easing='ease-out-cubic'] [data-aos] {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing='ease-in-out-cubic'],
body[data-aos-easing='ease-in-out-cubic'] [data-aos] {
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos][data-aos][data-aos-easing='ease-in-quart'],
body[data-aos-easing='ease-in-quart'] [data-aos] {
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
[data-aos][data-aos][data-aos-easing='ease-out-quart'],
body[data-aos-easing='ease-out-quart'] [data-aos] {
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
[data-aos][data-aos][data-aos-easing='ease-in-out-quart'],
body[data-aos-easing='ease-in-out-quart'] [data-aos] {
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
[data-aos^='fade'][data-aos^='fade'] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos^='fade'][data-aos^='fade'].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos='fade-up'] {
    transform: translate3d(0, 100px, 0);
}
[data-aos='fade-down'] {
    transform: translate3d(0, -100px, 0);
}
[data-aos='fade-right'] {
    transform: translate3d(-100px, 0, 0);
}
[data-aos='fade-left'] {
    transform: translate3d(100px, 0, 0);
}
[data-aos='fade-up-right'] {
    transform: translate3d(-100px, 100px, 0);
}
[data-aos='fade-up-left'] {
    transform: translate3d(100px, 100px, 0);
}
[data-aos='fade-down-right'] {
    transform: translate3d(-100px, -100px, 0);
}
[data-aos='fade-down-left'] {
    transform: translate3d(100px, -100px, 0);
}
[data-aos^='zoom'][data-aos^='zoom'] {
    opacity: 0;
    transition-property: opacity, transform;
}
[data-aos^='zoom'][data-aos^='zoom'].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1);
}
[data-aos='zoom-in'] {
    transform: scale(0.6);
}
[data-aos='zoom-in-up'] {
    transform: translate3d(0, 100px, 0) scale(0.6);
}
[data-aos='zoom-in-down'] {
    transform: translate3d(0, -100px, 0) scale(0.6);
}
[data-aos='zoom-in-right'] {
    transform: translate3d(-100px, 0, 0) scale(0.6);
}
[data-aos='zoom-in-left'] {
    transform: translate3d(100px, 0, 0) scale(0.6);
}
[data-aos='zoom-out'] {
    transform: scale(1.2);
}
[data-aos='zoom-out-up'] {
    transform: translate3d(0, 100px, 0) scale(1.2);
}
[data-aos='zoom-out-down'] {
    transform: translate3d(0, -100px, 0) scale(1.2);
}
[data-aos='zoom-out-right'] {
    transform: translate3d(-100px, 0, 0) scale(1.2);
}
[data-aos='zoom-out-left'] {
    transform: translate3d(100px, 0, 0) scale(1.2);
}
[data-aos^='slide'][data-aos^='slide'] {
    transition-property: transform;
}
[data-aos^='slide'][data-aos^='slide'].aos-animate {
    transform: translateZ(0);
}
[data-aos='slide-up'] {
    transform: translate3d(0, 100%, 0);
}
[data-aos='slide-down'] {
    transform: translate3d(0, -100%, 0);
}
[data-aos='slide-right'] {
    transform: translate3d(-100%, 0, 0);
}
[data-aos='slide-left'] {
    transform: translate3d(100%, 0, 0);
}
[data-aos^='flip'][data-aos^='flip'] {
    backface-visibility: hidden;
    transition-property: transform;
}
[data-aos='flip-left'] {
    transform: perspective(2500px) rotateY(-100deg);
}
[data-aos='flip-left'].aos-animate {
    transform: perspective(2500px) rotateY(0);
}
[data-aos='flip-right'] {
    transform: perspective(2500px) rotateY(100deg);
}
[data-aos='flip-right'].aos-animate {
    transform: perspective(2500px) rotateY(0);
}
[data-aos='flip-up'] {
    transform: perspective(2500px) rotateX(-100deg);
}
[data-aos='flip-up'].aos-animate {
    transform: perspective(2500px) rotateX(0);
}
[data-aos='flip-down'] {
    transform: perspective(2500px) rotateX(100deg);
}
[data-aos='flip-down'].aos-animate {
    transform: perspective(2500px) rotateX(0);
}
